<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816128299921-pe46vo9m669062k5415r2bp6fuucu7t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816128299921-pe46vo9m669062k5415r2bp6fuucu7t3</string>
	<key>API_KEY</key>
	<string>AIzaSyDtPhSTG5EpXPeqK2MCP3riTROfc6fqc2w</string>
	<key>GCM_SENDER_ID</key>
	<string>816128299921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbla2023</string>
	<key>PROJECT_ID</key>
	<string>fbla-2023-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-2023-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816128299921:ios:fc3ac83f3e54ca7b058030</string>
</dict>
</plist>